absl-py==2.1.0
chex==0.1.86
contourpy==1.2.1
cycler==0.12.1
etils==1.8.0
flax==0.8.2
fonttools==4.51.0
fsspec==2024.3.1
importlib_resources==6.4.0
jax==0.4.26
jaxlib==0.4.26
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.0.8
nest-asyncio==1.6.0
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.5.9
packaging==24.0
pillow==10.3.0
protobuf==5.26.1
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
rich==13.7.1
ruff==0.3.5
scipy==1.13.0
setuptools==69.2.0
six==1.16.0
tensorstore==0.1.56
toolz==0.12.1
typing_extensions==4.11.0
zipp==3.18.1
